[submodule "modus"]
	path = modus
	url = https://ghfast.top/https://github.com/wyxun/modus.git
[submodule "vendor/cortex-m/AT32F421_Firmware_Library"]
	path = vendor/cortex-m/AT32F421_Firmware_Library
	url = https://ghfast.top/https://github.com/ArteryTek/AT32F421_Firmware_Library.git
	ignore = untracked

[submodule "vendor/cortex-m/cmsis_device_g4"]
	path = vendor/cortex-m/cmsis_device_g4
	url = https://ghfast.top/https://github.com/STMicroelectronics/cmsis_device_g4.git
	ignore = untracked

[submodule "vendor/cortex-m/stm32g4xx_hal_driver"]
	path = vendor/cortex-m/stm32g4xx_hal_driver
	url = https://ghfast.top/https://github.com/STMicroelectronics/stm32g4xx_hal_driver.git
	ignore = untracked

[submodule "vendor/cortex-m/AT32F413_Firmware_Library"]
	path = vendor/cortex-m/AT32F413_Firmware_Library
	url = https://gitee.com/arterytek/AT32F413_Firmware_Library.git
	ignore = untracked

[submodule "vendor/riscv/ch592"]
	path = vendor/riscv/ch592
	url = https://ghfast.top/https://github.com/openwch/ch592.git
[submodule "third_party/grblhal/core"]
	path = third_party/grblhal/core
	url = https://github.com/grblHAL/core.git

[submodule "vendor/cortex-m/AT32F403A_407_Firmware_Library"]
	path = vendor/cortex-m/AT32F403A_407_Firmware_Library
	url = https://ghfast.top/https://github.com/ArteryTek/AT32F403A_407_Firmware_Library.git
	ignore = untracked

[submodule "vendor/cortex-m/AT32F415_Firmware_Library"]
	path = vendor/cortex-m/AT32F415_Firmware_Library
	url = https://github.com/ArteryTek/AT32F415_Firmware_Library.git
	ignore = untracked

